<md-dialog aria-label="Forgot Password"   style="width: 30%">
    <md-dialog-content>
        <div class="width-100 pull-right">
            <label style="font-size: 26px;margin-right: 20px;cursor: pointer" ng-click="closeModalWindow()">x</label>
        </div>
        <div class="md-dialog-content">
            <md-content layout-padding="" ng-if="forgotPass.step1">
                <form name="forgotPassForm">

                    <h4>Forgot Password</h4>
                    <md-input-container class="md-block" style="margin-top: 10%">
                        <label style="font-size: 16px!important;" >Mobile Number</label>
                        <input style="font-size: 20px!important;" required name="mobileNumber" ng-model="forgotPass.mobileNumber" type="number" ng-maxlength="10" ng-minlength="10" maxlength="10">
                        <div ng-if="forgotPassForm.mobileNumber.$error" style="display: none">
                            <div>Invalid mobile number.</div>
                        </div>
                    </md-input-container>

                    <div class="width-100" align="center">
                        <md-button md-no-ink="" ng-disabled="forgotPassForm.$invalid" ng-click="checkRegisteredMobile($event)" class="md-primary" style="height:40px;width: 100%;background-color: #FF883F;color: white;">Proceed</md-button>
                    </div>
                </form>
            </md-content>
            <md-content layout-padding="" ng-if="forgotPass.step2">
                <form name="forgotPassForm1">

                    <h4>Forgot Password</h4>
                    <md-input-container class="md-block" style="margin-top: 10%">
                        <label style="font-size: 16px!important;">Enter Your OTP</label>
                        <input style="font-size: 20px!important;" required="" type="number" name="otp" maxlength="5" ng-model="forgotPass.reloginPin" >
                    </md-input-container>
                    <div class="width-100" align="center">
                        <button ng-click="goToStep2ForForgotPassword()" style="width: 40%;float: right;background-color: #FF883F;color: white;" ng-disabled="forgotPassForm1.$invalid" class="btn btn-primary">&nbsp;Verify</button>
                    </div>
                </form>
            </md-content>
            <md-content layout-padding="" ng-if="forgotPass.step3">
                <form name="forgotPassForm2">

                    <h4>Forgot Password</h4>
                    <md-input-container class="md-block" style="margin-top: 10%">
                        <label style="font-size: 16px!important;">Password</label>
                        <input style="font-size: 20px!important;" required="" type="password" name="userPass" ng-model="forgotPass.newPassword" >
                    </md-input-container>

                    <md-input-container class="md-block" style="margin-top: 10%">
                        <label style="font-size: 16px!important;">Confirm Password</label>
                        <input style="font-size: 20px!important;" required="" type="password" name="confirmPassword" ng-model="forgotPass.newConfirmPassword" >
                    </md-input-container>

                    <div class="width-100" align="center">
                        <md-button ng-click="goToStep3ForForgotPassword()" ng-disabled="forgotPassForm2.$invalid" class="md-primary" style="width: 85%;background-color: #FF883F;color: white;">Change Password</md-button>
                    </div>
                </form>
            </md-content>
        </div>
    </md-dialog-content>
</md-dialog>